---
---

@import "minima";

.wrapper-header {
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit * 2;
  padding-left: $spacing-unit * 2;
  @extend %clearfix;

  @include media-query($on-laptop) {
    padding-right: $spacing-unit ;
    padding-left: $spacing-unit ;
  }
}

a.toTop {
    width: 40px;
    height: 40px;
    display: block;
    font-size: 36px;
    color: #fff;
    z-index: 999;
    bottom : 20px;
    right : 30px;
    position: fixed;
    text-align: center;
    border-radius: 3px 3px;
    background: rgba(0, 0, 0, 0.8);
}
a.toTop:hover {
    background: #0088cc;
}

.toTop i {
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
}